body{
    background-color: #f7f7f7;
    padding-top: 50px;
    font-family: "HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman","Helvetica","Tahoma","Geneva","Arial",sans-serif;
    margin-top: 30px;
}

a {
  text-decoration: none;
  color: #912CEE;
}

a:hover{
  text-decoration: none;
  color: #838483;
}

h3{
  margin-bottom: 18px;
  border-bottom: 1px solid #e7e7e7;
  color: #353535;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}

.header{
  padding-bottom: 20px;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    color: #484848;
    padding-left: 20px;
}

.logo-col{
  padding-left: 0px;
  color: #838483;
}

.logo:hover{
  color: #484848;
}

.top-nav-link{
  color: #919090;
  font-size: 14px;
  font-weight: bold;
  padding-left: 15px;
}

.top-nav-link:hover{
  color: blue;
}

.top-nav{
  padding-top: 21px;
}

.wrapper{
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 1px;
  box-shadow: rgba(0,0,0,0.15) 0 1px 1px;
  padding-right: 0px;
  padding-left: 0px;
  overflow: hidden; 
  margin-bottom: 60px;
}

.sidebar{
  padding-top: 20px;
  background-color: #f8f8f8;
  border-left: 1px solid #d0d0d0;
  border-radius: 0 0 5px 0;
  bottom: 0;
  box-shadow: 1px 0 1px rgba(0,0,0,0.1) inset;
  float: left;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 10px;
  padding-bottom: 20px;
}

.sidebar ul li{
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
}

.sidebar ul li a{
  color: #838483;
  text-decoration: none;

}

.sidebar ul li a:hover{
  color: #912CEE;
}

.content{
  padding: 20px;
}

.tile-bucket{
  text-align: center;
}

.tile-container{
  margin: 2px;
  position: relative;
}

.tile-link{
  padding: 0px;
  margin: 0px;
}

.tile{
  margin-bottom: 8px;
  position: relative;
}

.tile-text{
    display: none;
    position: absolute;
    top: -70px;
    left: 0px;
    width: 200px;
    height: 150px;
    padding: 20px;
    padding-top: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.tile-container:hover .tile-text {
    display: inherit;
}

.color-filter:hover{
    background: #999;
    background: rgba(0,0,0,0.3);
}

.tile-para{
  display: none;
}

.pageTitle{
  border-bottom: thin solid #000;
}

.contact-card{
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.contact-card a{
  color: black;
}

.contact-card a:hover{
  color: #838483;
}

ul{
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  list-style-type: none;
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul li{
  font-weight: bold;
}

.tile-container.caption{
  text-align: left;
}

.featuredProjectCarousel{
  width: 60%;
}

.featuredProjectCarouselImg{
  width: auto;
  height: 200px;
  max-height: 200px;
  text-align: center;
  align:"middle";
}

.featuredProjectCarouselImgUOCD{
  width: auto;
  height: 450px;
  max-height: 450px;
  text-align: center;
  align:"middle";
}