---
layout: default
---
<h1> Current Projects </h1>
<div class="container-fluid">

  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4">
      <img src="images/projects/TuneTable.png" style="width:100%" class="center-block" />
    </div>
    <div class="col-xs-11 col-sm-10 col-md-9 col-lg-8">
      <h3> Tune Table - EarSktech </h3>
      <p>In congunction with a team from Georgia Tech, we are developing a museum exhibit which uses computational theories to create music. The Tune Table is based on the Georgia Tech Project called <a href="https://earsketch.gatech.edu/landing/">EarSketch</a>, a web-app that teaches users to code while creating music.</p>
    </div>
  </div>
</div>
<h1> Past Projects </h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4">
      <a href="/Project16"><img src="images/projects/ADE/IMG_1632.JPG" style="width:100%" class="center-block" /></a>
    </div>
    <div class="col-xs-11 col-sm-10 col-md-9 col-lg-8">
      <a href="/Project16"><h3>Brightbox: A Hands-On Learning Technology for Rural India</h3></a>
      <p>I worked on a team to develop, build and deploy the Brightbox, a ray projector to aid in teaching kids optics. This technology will be used in schools in rural India and Ghana to encourage exploratory learning and develop a curiosity for science.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4">
      <a href="/Project15"><img src="images/projects/capture-img.png" style="width:100%" class="center-block" /></a>
    </div>
    <div class="col-xs-11 col-sm-10 col-md-9 col-lg-8">
      <a href="/Project15"><h3> Capture It: A Mobile Design App for Kids</h3></a>
      <p>For my capstone engineering project, my team and I developed and built <a href="http://appsforkids.solidworks.com/">Capture It </a>, an application in <a href="http://www.3ds.com//">DS Solidwork's</a> new educational app ecosystem called Apps for Kids. Capture It is a brainstorming application aimed at kids aged eight to fourteen, meant to inspire creativity and curiousity in the design process</p>
    </div>
  </div>
</div>
<br />
<h4> Other projects </h4>
<p>
{% for post in site.posts %}
<!-- {% if post.display == "False" %} -->
<!--  -->
  <!-- <span class="tile-container">     -->
    <a  href="{{ post.url | remove_first: "/" }}">
      <!-- <img id="{{ post.title | split:": " | first | split: " " | last }}-img" class=" project tile" src="" /> -->
      {{ post.title | split:": " | last}}  --
    </a>
  <!-- </span> -->
  
<!-- {% endif %} -->
{% endfor %}
