---
layout: default
---
<h1>Current Project</h1>
<div class="container-fluid center-table">
   <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
      <div class="project-cell">
        <a href="/Project19"><img src="images/projects/growth.png" class="center-block project-img" /> </a>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
      <div class="project-cell">
        <a href="/Project19"><h3> Designing a Growth Mindset Development Environment for Novice Programmers</h3></a>
        <p> The goal of this work is to design, build and evaluate a new programming environment that increases confidence and motivation in introductory computer science students by encouraging a growth mindset through process praise. </p>
      </div>
    </div>
  </div>
</div>




<h1>Previous Graduate Research Projects </h1>
<div class="container-fluid center-table">
   <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
      <div class="project-cell">
        <a href="/Project18"><img src="images/projects/loft.jpg" class="center-block project-img" /> </a>
        <a href="/Project18"><h3> Coaching in Design Problem-based Learning</h3></a>
        <p>We are studying the challenges and the process of being a coach in ill-structured problem-based learning environments. Currently, we are working on a design intervention for <a href="http://designforamerica.com/">Design for America</a> coaches.</p>
      </div>
    </div>
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
      <div class="project-cell">
       <a href="/Project17"><img src="images/projects/tangibleTunepad.PNG" class="center-block project-img" /> </a>
        <a href="/Project17"><h3> TunePad</h3></a>
        <p>In congunction with a team from Georgia Tech, we are developing a tangible learning tool which  introduces learners to computational thinking while leveraging their creativity in composing music. We hope to  balance playful, informal learning while also preparing learners for formal computing environments, like <a href="https://earsketch.gatech.edu/landing/">EarSketch</a>.</p>
      </div>
    </div>
  </div>
</div>
<h1>More Past Projects </h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="project-cell">
        <a href="/Project16"><img src="images/projects/ADE/IMG_1632.JPG"  class="center-block past-project-img" /></a>
        <a href="/Project16"><h3>Brightbox: A Hands-On Learning Technology for Rural India</h3></a>
        <p>My team and I developed, built and deployed the Brightbox and the associated curriculum to aid in teaching kids optics. The Brightbox is used in schools in rural India and Ghana to encourage exploratory learning and a curiosity for science. I project-managed a team of engineering and business students and professors and worked with two partners, Agastya International Foundation and African Women Advocacy Project to work towards our goal.</p>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <a href="/Project15"><img src="images/projects/capture-img.png" class="center-block past-project-img" /></a>
      <a href="/Project15"><h3>Capture It: A Mobile Design App for Kids</h3></a>
      <p>For my capstone engineering project, my team and I developed and built <a href="http://appsforkids.solidworks.com/">Capture It </a>, an application in <a href="http://www.3ds.com/">DS Solidwork's</a> new educational app ecosystem called Apps for Kids. Capture It is a brainstorming application aimed at kids aged eight to fourteen, meant to inspire creativity and curiosity in the design process.</p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <a href="/Project11"><img src="images/projects/placement2.jpg" style="width:50%" class="center-block past-project-img" /></a>
      <a href="/Project11"><h3> Engineering Design Independent Researcher and Consultant</h3></a>
      <p>I worked with faculty at <a href="http://www.kuleuven.be/english">KU Leuven</a> and <a href="http://www.thomasmore.be/">Thomas More</a>, higher education institutes in Belgium, to reimagine their <a href="https://onderwijsaanbod.kuleuven.be/2015/opleidingen/e/CQ_52939941.htm#activetab=diploma_omschrijving"> Comunity Service Engineering</a> programs and incorporate design thinking and project-based learning into their engineering programs, both at the bachelor and post-graduate levels.</p>
    </div>
  </div>

<br />
<h3> Project Archive </h3>
<p class="archive">
{% for post in site.posts %}
{% if post.display == "False" %}
    <a  href="{{ post.url | remove_first: "/" }}" class="archive">
      {{ post.title | split:": " | last}}; 
    </a>
{% endif %}
{% endfor %}
</div>
