---
layout: default
---
<h1> Current Projects </h1>
<div class="container-fluid">

  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
       <a href="/Project17"><img src="images/projects/TuneTable.png" style="width:100%" class="center-block" /> </a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
       <a href="/Project17"><h3> Tune Pad</h3></a>
      <p>In congunction with a team from Georgia Tech, we are developing a tangible learning tool which uses computational theories to create music. The Tune Pad is based on the Georgia Tech Project called <a href="https://earsketch.gatech.edu/landing/">EarSketch</a>, a web-app that teaches users to code while creating music and works in conjuntion with the Tune Table, a museum exhibit.</p>
    </div>
  </div>
</div>
<h1> Past Projects </h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <a href="/Project16"><img src="images/projects/ADE/IMG_1632.JPG" style="width:100%" class="center-block" /></a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <a href="/Project16"><h3>Brightbox: A Hands-On Learning Technology for Rural India</h3></a>
      <p>I project managed a team to develop, build and deploy the Brightbox and the associated curriculum to aid in teaching kids optics. The Brightbox is used in schools in rural India and Ghana to encourage exploratory learning and a curiosity for science.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <a href="/Project15"><img src="images/projects/capture-img.png" style="width:100%" class="center-block" /></a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <a href="/Project15"><h3>Capture It: A Mobile Design App for Kids</h3></a>
      <p>For my capstone engineering project, my team and I developed and built <a href="http://appsforkids.solidworks.com/">Capture It </a>, an application in <a href="http://www.3ds.com/">DS Solidwork's</a> new educational app ecosystem called Apps for Kids. Capture It is a brainstorming application aimed at kids aged eight to fourteen, meant to inspire creativity and curiosity in the design process.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <a href="/Project11"><img src="images/projects/placement2.jpg" style="width:50%" class="center-block" /></a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <a href="/Project11"><h3> Engineering Design Independent Researcher and Consultant</h3></a>
      <p>Worked with faculty at <a href="http://www.kuleuven.be/english">KU Leuven</a> and <a href="http://www.thomasmore.be/">Thomas More</a>, higher education institutes in Belgium, to reimagine their <a href="https://onderwijsaanbod.kuleuven.be/2015/opleidingen/e/CQ_52939941.htm#activetab=diploma_omschrijving"> Comunity Service Engineering</a> programs and incorporate design thinking and project-based learning into their engineering programs, both at the bachelor and post-graduate levels.</p>
    </div>
  </div>
</div>
<br />
<h4> Other projects </h4>
<p>
{% for post in site.posts %}
{% if post.display == "False" %}
    <a  href="{{ post.url | remove_first: "/" }}">
      {{ post.title | split:": " | last}}  --
    </a>
{% endif %}
{% endfor %}
