<footer>
  <div class="container" style="text-align:center">

    Email: <a href="mailto:jamie@gorsonfamily.com"> jamie@gorsonfamily.com </a>
||
    <a href="https://www.dropbox.com/s/kvobaovabb61g0y/Gorson_Resume_10_2016.pdf?dl=0">Resume/</a>
    <a href="https://www.dropbox.com/s/6r3058tzzfyyprh/GorsonCV_10_2016.pdf?dl=0">CV</a>
||
   <a href="https://www.linkedin.com/in/jamiegorson">  LinkedIn </a>
||
    Github: <a href="http://github.com/jamiesarahg"> JamieSarahG </a>
||
    Twitter: <a href="https://twitter.com/jamiesarahg"> jamiesarahg </a>

  </div>
    <script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-38544202-1', 'auto');
    ga('send', 'pageview');
  </script>
    
      <script type="text/javascript">
        function urlExists(testUrl) {
        var http = jQuery.ajax({
            type:"HEAD",
            url: testUrl,
            async: false
          })
          return http.status;
      }
      {% for post in site.posts  %}
          var proj_num = "{{ post.title | split:": " | first | split: " " | last }}";
          var proj_id = "#"+proj_num
          var proj_img_url = "images/thumbnails/" + proj_num + ".jpg";
          var blank_img_url = "images/blank.jpg";

        if(urlExists(proj_img_url) == 200) {
            $(proj_id+'-img').attr("src", proj_img_url);
        }
        else {
            $(proj_id+'-img').attr("src", blank_img_url);
        }

        $(".tile-container").hover(function(){
          $(this).find(".tile-text").style.display = "block";
        });
          $(proj_id+'-img').width(200);
          $(proj_id+'-img').height(150);
          $(proj_id+'-text').hover(function(){
            $( this ).find( ".tile-para" ).toggle();
          });
        {% endfor %}

      </script>  

    
</footer>
