<footer>
  <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-38544202-1', 'auto');
    ga('send', 'pageview');
  </script>
  
    {% if page.url == "/index.html" %}
      <script type="text/javascript">
        function urlExists(testUrl) {
          // this will return 200 on success, and 0 or negative value on error
        var http = jQuery.ajax({
            type:"HEAD",
            url: testUrl,
            async: false
          })
          return http.status;
      }
      var research_projects = [{"num": "12"}, {"num": "13"}]
      for (i=0; i<research_projects.length; i++){
        console.log(i)
        var proj_num = research_projects[i]["num"];
          var proj_id = "#"+proj_num
          var proj_img_url = "images/thumbnails/" + proj_num + ".jpg";
          console.log (proj_img_url);
          var blank_img_url = "images/blank.jpg";
        // $(proj_id+'-img').error(function(){
        //     $(proj_id+'-img').attr("src", blank_img_url);
        //   }).attr("src", proj_img_url);
        if(urlExists(proj_img_url) == 200) {
            $(proj_id+'-img').attr("src", proj_img_url);
        }
        else {
            $(proj_id+'-img').attr("src", blank_img_url);
        }
          $(proj_id+'-img').width(200);
          $(proj_id+'-img').height(150);
          $(proj_id+'-text').hover(function(){
            $( this ).find( ".tile-para" ).toggle();
          });
      }
        {% for post in site.posts  %}
          var proj_num = "{{ post.title | split:": " | first | split: " " | last }}";
          var proj_id = "#"+proj_num
          var proj_img_url = "images/thumbnails/" + proj_num + ".jpg";
          var blank_img_url = "images/blank.jpg";
        // $(proj_id+'-img').error(function(){
        //     $(proj_id+'-img').attr("src", blank_img_url);
        //   }).attr("src", proj_img_url);
        if(urlExists(proj_img_url) == 200) {
            $(proj_id+'-img').attr("src", proj_img_url);
        }
        else {
            $(proj_id+'-img').attr("src", blank_img_url);
        }
          $(proj_id+'-img').width(200);
          $(proj_id+'-img').height(150);
          $(proj_id+'-text').hover(function(){
            $( this ).find( ".tile-para" ).toggle();
          });
        {% endfor %}

      </script>
    {% endif %}
    
</footer>
