<div class="col-sm-3 hidden-xs sidebar">
	<div class="contact-card">
		<img src="images/headshot.jpg" width="100%">
		<br><br>
		<span>
			Github: <a href="http://github.com/jnazare"> JNazare </a>
			<br>
			Email: <a href="mailto:juliana@media.mit.edu"> Juliana@media.mit.edu </a>
			<br>
			Resum&eacute;: <a href="https://www.dropbox.com/s/qgknbcjd1qqxbuw/resume.pdf?dl=0">View / Download</a>
		</span>
	</div>
	<br>
	<ul class="project-links">
		<!-- <li class="project-link"><a class="post-link" href="http://learn.media.mit.edu/mlw">Making Learning Work</a></li>
		<li class="project-link"><a class="post-link" href="http://certs.media.mit.edu">Blockchain-Verifiable Certificates</a></li> -->
	{% for post in site.posts %}
	    <li class="project-link"><a class="post-link" href="{{ post.url | remove_first: "/" }}">{{ post.title | split:":" | last | split: " - " | first}}</a></li>
	{% endfor %}
	</ul>
</div>